body{
    background: url('https://static.vecteezy.com/system/resources/previews/011/166/268/large_2x/gold-and-white-abstract-watercolor-background-free-vector.jpg') no-repeat center center/cover;
}
.logo{
    width: 10rem;
    height: 1rem;
}

.place1-img{
    background:url(https://admin.balloonsunlimited.in/media/catalog/product//i/l/il_fullxfull.3240312804_5d7s.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: grey;
}
.card1-content{
    padding-top: 140px;
    padding-bottom: 150px;
}
.place2-img{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0rZIvMCn3aD-Q6Xx3Fynzhv8hE9mO9I4RUg&ss);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: grey;
}
.place3-img{
    background:url(https://content3.jdmagicbox.com/v2/comp/hyderabad/m9/040pxx40.xx40.180807162854.e4m9/catalogue/stone-core-abids-hyderabad-event-organisers-at86edjgd8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-color: grey;
}
