body{
    background: url('https://static.vecteezy.com/system/resources/previews/011/166/268/large_2x/gold-and-white-abstract-watercolor-background-free-vector.jpg') no-repeat center center/cover;
}
.logo{
    width: 10rem;
    height: 1rem;
}

.place1-img{
    background:url(https://content.jdmagicbox.com/v2/comp/hyderabad/y6/040pxx40.xx40.171010121341.l1y6/catalogue/balloons-unlimited-madhapur-hyderabad-gas-balloon-dealers-2c55gmtv6y.jpg) no-repeat center center/cover;
    background-color: grey;
}
.place2-img{
    background:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0rZIvMCn3aD-Q6Xx3Fynzhv8hE9mO9I4RUg&ss) no-repeat center center/cover;
    background-color: grey;
}
.place3-img{
    background:url(https://content3.jdmagicbox.com/v2/comp/hyderabad/m9/040pxx40.xx40.180807162854.e4m9/catalogue/stone-core-abids-hyderabad-event-organisers-at86edjgd8.jpg) no-repeat center center/cover;
    background-color: grey;
}